.sp1{
    background-color: rgb(0, 217, 255);
    color: rgb(61, 7, 0);
}

.sp1:hover{
    background-color: rgb(0, 133, 91);
}

.sp2{
    background-color: rgb(6, 69, 80);
    color: rgb(65, 60, 0);
}